html {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    font-family: 'inter', sans-serif;
}

.container {
    max-width: 1320px;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
}

header {
    padding: 20px 0;
    width: 100%;
    margin: 0 auto;
}

a.logo {
    font-size: 30px;
    font-weight: 700;
}

a {
    text-decoration: none;
}


nav {
    /* display: flex; */
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
}

nav ul li a {
    padding: 10px 20px;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.font-inter {
    font-family: 'inter', sans-serif;
}

.font-merriweather {
    font-family: 'merriweather', serif;
}

.m-auto {
    margin: 0 auto;
}